#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Transmission Daemon
Comment=Transmission Daemon
Exec=/usr/bin/env td-start
Icon=transmission
StartupNotify=false
Terminal=false
Hidden=false
RunHook=0
